{% extends 'blog/base.html' %}
{% load crispy_forms_tags %}


{% block content %}
    <div class="content-section">
        <form action="" method="post">
            {% csrf_token %}
            <fieldset class="form-group">
                <legend class="border-bottom mb-4">Hello User</legend>
                <h4>You are logged out</h4>
            </fieldset>
            <div class="border-top pt-3">
                <center><h4><a href="{% url 'login' %}">You can Login again</a></h4></center>
            </div>
        </form>
 
    </div>
{% endblock content %}